<div class="row" ng-init="list.fetch();">
    <div class=" col-lg-12">
        <h1 class="page-header">
            Blacklist
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <div role="grid" class="dataTables_wrapper form-inline">
                        <table class="table table-striped table-bordered table-hover dataTable no-footer" ng-show="list.items.length > 0">
                            <thead>
                                <tr>
                                    <th ng-click="list.sort('name')" class="sorting" tabindex="0" rowspan="1" colspan="1">Alert Name</th>
                                    <th tabindex="0" rowspan="1" colspan="1">Danger Level</th>
                                    <th tabindex="0" rowspan="1" colspan="1">Send E-Mail</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in list.items" ng-class-odd="'gradeA odd'" ng-class-even="'gradeA even'">
                                    <td>{{item.name}}</td>
                                    <td>
                                        <select 
                                            name="levelSelect" 
                                            id="levelSelect" 
                                            ng-options="level for level in levels track by level"
                                            ng-model="item.level"
                                            ng-change="list.updateLevel(item)"
                                            style="width:60px"
                                            >
                                        </select>        
                                    </td>

                                    <td class="td-router-status">
                                        <a ng-class="{'active': item.email === 1}" ng-click="list.updateEmail(item, 1)" class="btn btn-default" title="on">ON</a>
                                        <a ng-class="{'active': item.email === 0}" ng-click="list.updateEmail(item, 0)" class="btn btn-default" title="off">OFF</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="dataTables_info" ng-show="list.records > 0">{{list.records}} inregistrari</div>
                                <div class="dataTables_info" ng-show="list.records == 0">Nicio inregistrare</div>
                            </div>
                            <div class="col-sm-8" ng-show="list.total_pages>1">
                                <div class="dataTables_paginate paging_simple_numbers">
                                    <ul class="pagination">
                                        <li ng-class="{'paginate_button previous':true, 'disabled':list.page==1}" tabindex="0" ng-show="list.total_pages>5">
                                            <a href="" ng-click="list.changePage(1);"> << </a>
                                        </li>
                                        <li ng-class="{'paginate_button previous':true, 'disabled':list.page==1}" tabindex="0">
                                            <a href="" ng-click="list.prevPage();" ng-disabled="list.page==1;">Înapoi</a>
                                        </li>
                                        <li ng-class="{'paginate_button':true, 'active':list.page==i}" ng-repeat="i in list.pages"><a href="" ng-click="$parent.list.changePage(i);">{{i}}</a></li>

                                        <li ng-class="{'paginate_button next':true, 'disabled':list.page==list.total_pages}" tabindex="0">
                                            <a href="" ng-click="list.nextPage();">Înainte</a>
                                        </li>
                                        <li ng-class="{'paginate_button previous':true, 'disabled':list.page==list.total_pages}" tabindex="0" ng-show="list.total_pages>5">
                                            <a href="" ng-click="list.changePage(list.total_pages);"> >> </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>