<div class="row" ng-init="details.fetch();">
    <div class=" col-lg-12">
        <h1 class="page-header">
            Basic Configurations
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading table-view-header">
                <div ng-click="details.save()" class="list-main-action" title="Save"><i class="fa fa-check"></i> Salveaza</div>
            </div>
            <div class="panel-body">
                <div class="">
                    <div class="row">
                        <textarea ng-model="details.item"
                                  rows="5"
                                  ng-trim="false"
                                  ng-list="&#10;"
                                  style="margin: 0px; width: 1086px; height: 333px;"
                        >
                        </textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>