<cc:toolbar>
    <li class="top-actions-container">
        <button class="top-actions-btn danger" ng-click="mainForm.submitted=true; details.save();">
            <i class="fa fa-check"></i> Salvează
        </button>
    </li>
    <li class="top-actions-container">
        <a class="top-actions-btn default" ng-click="details.cancel()">
            <i class="fa fa-times"></i> Anulează
        </a>
    </li>
</cc:toolbar>

<div class="row" ng-init="details.fetch();">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Router Info
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">
            <form novalidate role="form" name="mainForm">
              <div ng-class="{'form-group':true,'has-error': mainForm.name.$invalid && (mainForm.name.$dirty || mainForm.submitted)}">
                  <label class="required">Name</label>
                  <input name="name" placeholder="Name" class="form-control" ng-model="details.item.db_router.name" required />
                  <p class="help-block" ng-show="mainForm.name.$invalid && (mainForm.name.$dirty || mainForm.submitted)">Campul este obligatoriu</p>
                  <label>Description</label>
                  <input name="description" placeholder="Description" class="form-control" ng-model="details.item.db_router.description"/>
              </div>
              
              <div ng-repeat="interface in details.item.onepkRouter"
              ng-class="{'form-group':true}"> 
                    <div ng-show='interface.ip_address != details.item.db_router.ip'>
                      <label>{{interface.interface}} (Ip Address, Ip Prefix, Interface MTU)</label>
                      <input name="ip_address" placeholder="Ip Address" class="form-control" ng-model="interface.ip_address" />
                      <input name="ip_prefix" placeholder="IP Prefix" class="form-control" ng-model="interface.prefix" />
                      <input name="interface_mtu" placeholder="Interface MTU" class="form-control" ng-model="interface.mtu" />
                      <a ng-class="{'active': interface.state === 3}" ng-click="details.state($index, interface, 3)" class="btn btn-default" title="on">ON</a>
                      <a ng-class="{'active': interface.state === 1}" ng-click="details.state($index, interface, 1)" class="btn btn-default" title="off">OFF</a>
                    </div>
                    <div ng-show='interface.ip_address == details.item.db_router.ip'>
                      <label>{{interface.interface}} (ONEPK CONNECTION)</label>
                      <input name="main_ip_address" placeholder="Ip Address" class="form-control" ng-model="interface.ip_address" readonly  />
                      <input name="main_ip_prefix" placeholder="IP Prefix" class="form-control" ng-model="interface.prefix" readonly  />
                      <input name="main_interface_mtu" placeholder="Interface MTU" class="form-control" ng-model="interface.mtu" readonly  />
                    </div>
              </div>
            </form>

            <div ng-show='details.isNew'>
              <label>ONEPK CONNECTION</label>
              <input name="main_interface" placeholder="GigabitEthernet0/0" class="form-control" ng-model="details.newInt"/>
              <input name="main_ip_address" placeholder="Ip Address" class="form-control" ng-model="details.newIntIp"/>
              <a class="btn btn-default" ng-click="details.checkConnection()">Check Connection</a>
            </div>
            <div ng-show="!details.isNew">
              <a class="btn btn-default" ng-click="details.baseConfig()" style="margin-bottom:10px;">Set Basic Configuration</a>
              <div style="border:1px solid black; height:172px;">
                <div ng-repeat="command in details.cli track by $index">{{command}}</div>
              </div>
              <div style="margin-bottom:10px; height:31px; border-bottom:1px solid black; border-left:1px solid black; border-right:1px solid black">
                <label name="cli_label">{{details.cliLabel}}</label>
                <input name="cli_input" placeholder="Enter cli command" ng-model="details.cliCommand" type="text" style="margin:6px;">
                <button ng-click="details.sendCommand()" style="float:right; height: 30px; width: 100px;">Send</button>
              </div>
              <div>
                <nvd3 options="details.options" data="details.data"></nvd3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>