<div class="row" ng-init="list.fetch();">
    <div class=" col-lg-12">
        <h1 class="page-header">
            Routers
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading table-view-header">
            <div class="routerFilter">
                <input style="height: 30px; padding-left: 9px;" ng-model="list.routerFilter" placeholder="Search specific router">
                <button ng-click="list.newRouter()" style="height: 30px; width: 100px; float: right; background-color:#24468D; color:white">New Router</button>
            </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <div role="grid" class="dataTables_wrapper form-inline">
                        <table class="table table-striped table-bordered table-hover dataTable no-footer" ng-show="list.items.length > 0">
                            <thead>
                                <tr>
                                    <th class="td-article-thumb" tabindex="0" rowspan="1" colspan="1"></th>
                                    <th ng-click="list.sort('name')" tabindex="0" rowspan="1" colspan="1">Name</th>
                                    <th ng-click="list.sort('statistics')" tabindex="0" rowspan="1" colspan="1">Statistics</th>
                                    <th tabindex="0" rowspan="1" colspan="1">Description</th>
                                    <th tabindex="0" rowspan="1" colspan="1">Events Recording</th>
                                    <th tabindex="0" rowspan="1" colspan="1">Onepk Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in list.items | filter:list.routerFilter" ng-class-odd="'gradeA odd'" ng-class-even="'gradeA even'">
                                    <td class="td-article-thumb"><img class="img-thumbnail" err-src="{{appConfig.errSrc.router.thumb}}" ng-src="{{item.thumbnailUrl+'?d='+now}}"></td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.statistics}}</td>
                                    <td>{{item.description}}</td>
                                    <td class="td-router-status">
                                        <a ng-class="{'active': item.events === 'on'}" ng-click="list.events(item, 'on')" class="btn btn-default" title="on">ON</a>
                                        <a ng-class="{'active': item.events === 'off'}" ng-click="list.events(item, 'off')" class="btn btn-default" title="off">OFF</a>
                                    </td>
                                    <td class="td-router-status">
                                        <a ng-class="{'active': item.status === 'on'}" ng-click="list.status(item, 'on')" class="btn btn-default" title="on">ON</a>
                                        <a ng-class="{'active': item.status === 'off'}" ng-click="list.status(item, 'off')" class="btn btn-default" title="off">OFF</a>
                                    </td>
                                    <td class="td-action-btn longer-width">
                                        <a ng-show="item.status === 'on'" ng-click="list.select(item)" class="btn btn-default" title="Detalii"><i class="fa fa-pencil"></i></a>
                                        <a ng-click="list.delete(item)" class="btn btn-default" title="Sterge"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                    <td ng-hide="true">{{item.ip}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="dataTables_info" ng-show="list.records > 0">{{list.records}} inregistrari</div>
                                <div class="dataTables_info" ng-show="list.records == 0">Nicio inregistrare</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>