<!DOCTYPE html>
<html>
<head>
    <title>AppServer CMS</title>
   
    <link href="../lib/bootstrap/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="../lib/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../lib/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../stylesheets/global.css" rel="stylesheet" />
    <link href="../stylesheets/colorpicker.css" rel="stylesheet" />
    <link rel="stylesheet" href="../stylesheets/nv.d3.css">
    <link href="../stylesheets/style.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

    <script src="../javascripts/lib/jquery.js"></script>
    <script src="../javascripts/lib/moment.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../javascripts/theme.js"></script>
    <script src="../socket.io/socket.io.js"></script>
    <script src="../javascripts/lib/angular.js"></script>
    <script src="../javascripts/lib/angular-route.js"></script>
    <script src="../javascripts/lib/angular-sanitize.js"></script>
    <script src="../javascripts/lib/angular-resource.js"></script>
    <script src="../javascripts/lib/tinymce/tinymce.min.js"></script>
    <script src="../javascripts/lib/d3.js"></script>
    <script src="../javascripts/lib/d3-time.js"></script>
    <script src="../javascripts/lib/d3-time-format.js"></script>
    <script src="../javascripts/lib/nv.d3.js"></script>
    <script src="../javascripts/lib/angular-nvd3.js"></script>
    <script src="../javascripts/lib/tinymce.js"></script>
    <script src="../javascripts/lib/ng-lodash.min.js"></script>
    <script src="/config"></script>
    <script src="../app/socket.io.js"></script>


    {{#if release}}
    <script src="../app/app_concat.js"></script>
    {{else}}
    <script src="../app/app.js"></script>
    <script src="../app/config.js"></script>
    <script src="../app/services/resourceService.js"></script>
    <script src="../app/services/notifyService.js"></script>
    <script src="../app/services/fileUpload.js"></script>

    <script src="../app/services/api/homeService.js"></script>
    <script src="../app/services/api/routerService.js"></script>
    <script src="../app/services/api/blacklistService.js"></script>
    <script src="../app/services/api/configurationsService.js"></script>

    <script src="../app/controllers/masterController.js"></script>
    <script src="../app/controllers/homeController.js"></script>
    <script src="../app/controllers/routerController.js"></script>
    <script src="../app/controllers/blacklistController.js"></script>
    <script src="../app/controllers/configurationsController.js"></script>
    
    <script src="../app/directives/toolbar.js"></script>
    <script src="../app/directives/map.js"></script>
    <script src="../app/directives/general/fileModel.js"></script>
    <script src="../app/directives/general/errSrc.js"></script>
    <script src="../app/directives/general/bootstrap-colorpicker-module.js"></script>

    <script src="../app/filters/momentFilter.js"></script>
    {{/if}}
    
</head>
<body ng-controller="masterController" ng-cloak>
    <ng-include src="'app/partials/header.html'"></ng-include>
    <ng-include src="'app/partials/sidebar.html'" onload="init_menu();"></ng-include>

    <div id="wrapper" ng-class="{'hidden-left': !isMenuVisible}">
        <div id="page-wrapper" ng-view>

        </div>
    </div>

    <ng-include src="'app/partials/footer.html'"></ng-include>
    <ng-include src="'app/partials/loader.html'"></ng-include>
</body>
</html>
