﻿<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>AppServer CMS</title>
    <link rel='stylesheet' href='../stylesheets/style.css' />
    <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../stylesheets/global.css" rel="stylesheet" />

    <script src="../javascripts/lib/jquery.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">


</head>
<body>
    <div class="login-panel">
        <div class="login-panel-header">AppServer CMS</div>
        <div class="login-panel-body">
            <form action="/account/login" method="post">
                <fieldset>
                    <div class="form-group">
                        <input class="form-control username" type="text" name="username" placeholder="utilizator" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" placeholder="parola" />
                    </div>
                    {{#if error}}
                    <div class="validation-summary-errors">
                        <ul>
                            {{#each error}}
                            <li>{{#if this.code}}{{this.code}} - {{/if}}{{this.message}}</li>
                            {{/each}}
                        </ul>
                    </div>
                    {{/if}}
                    <button class="btn btn-lg btn-success btn-block">Login</button>
                    <!--<a href="#" class="reset-pass pull-right btn-reset">Reseteaza parola</a>-->
                </fieldset>
            </form>
        </div>
    </div>
</body>
</html>