﻿<div class="secondary-navbar">
    <nav class="navbar navbar-default navbar-static-top">

        <a class="toggle-sidebar" href="javascript:void(0);" ng-click="toggleMenu();"><i class="fa fa-bars"></i></a>

        <div class="navbar-header">
            <a class="navbar-brand" href="/#/">
                <span>webadmin</span>
            </a>
        </div>

        <ul class="nav navbar-top-links" ng-transclude>
            <!--Content here-->
        </ul>

    </nav>
</div>