﻿<div id="footer">
    <p>
        <!--<a ng-show="MasterView" ng-class="{active: isActive('/user')}" href="#/user"><i class="fa fa-users fa-fw"></i> Utilizatori CMS</a>-->
        <a href="account/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
    </p>
</div>