﻿<div id="top">
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <a class="toggle-sidebar" href="javascript:void(0);" ng-click="$parent.isMenuVisible = !$parent.isMenuVisible;"><i class="fa fa-bars"></i></a>
        <div class="navbar-header">
        </div>
    </nav>
</div>