﻿<div class="wrapper-modal fadein fadeout" ng-show="$parent.resourceService.isWorking">
    <div class="spinner-preloader">
        <div class="spinner-item spin1"><img src="images/1.png"></div>
        <div class="spinner-item spin2"><img src="images/2.png"></div>
        <div class="spinner-text">Se incarca</div>
    </div>
</div>