﻿<div id="left" role="navigation" ng-class="{'hidden-menu': !isMenuVisible}">
    <ul class="nav" id="side-menu">
        <li> <a ng-class="{active: isActive('/routers')}" href="#/routers"><i class="fa fa-times-circle"></i> Routers</a>  </li>
        <li> <a ng-class="{active: isActive('/blacklist')}" href="#/blacklist"><i class="fa fa-th-list"></i> Blacklist </a>  </li>
        <li> <a ng-class="{active: isActive('/configurations')}" href="#/configurations"><i class="fa fa-th-list"></i> Basic Configs </a>  </li>
    </ul>
</div>